body {
    background-image: url("images/stripes.png");
    background-repeat: repeat;
    font-family: sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

body #main {
    -webkit-box-shadow: 0 0 8px #999;
    -moz-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
    margin: 20px auto 200px auto;
    padding: 30px 50px 30px 50px;
    border: 1px solid grey;
    background-color: #ffffb8;
    width: 800px;
}

body #vcard {
    display: none;
    -webkit-box-shadow: 0 0 8px #999;
    -moz-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
    padding: 30px 50px 30px 50px;
    bottom: 0;
    position: fixed;
    border: 1px solid grey;
    border-bottom-width: 0;
    background-color: #ffffb8;
    width: 800px;
    left: 50%;
    z-index: 9000;
    margin-left: -451px;
    font-size: 400%;
    font-variant-caps: small-caps;
}

@media (pointer: coarse) {
    body #vcard {
        display: initial;
    }
}

body #main #header {
    text-align: left;
    margin-bottom: 0;
}

body #main #page {
    background-color: #ffffb8;
    width: 800px;
    margin: 0;
    padding: 0;
}

body #main #page #mitte #inhalt {
    width: 428px;
    min-height: 523px;
    background-image: url("images/inhalt.png");
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 20px;
    padding-right: 37px;
    padding-left: 70px;
}

body #main #page #mitte #inhalt #wrapper {
    padding: 10px;
    background-color: rgba(255, 255, 184, 0.7);
}

body #main #page #mitte #inhalt #wrapper h1 {
    font-weight: normal;
    margin-top: 0;
}

body #main #page #mitte #inhalt #wrapper h1 small {
    font-weight: normal;
    color: grey;
    margin-top: 0;
}

body #main #page #mitte #inhalt #wrapper h2 {
    font-weight: normal;
    margin-top: 0;
}

body #main #page #mitte #inhalt #wrapper h2 small {
    font-weight: normal;
}

body #main #page #mitte #inhalt #wrapper li {
    list-style-type: circle;
}

body #main #page #links, body #main #page #mitte {
    float: left;
}

body #main #page #rechts {
    float: right;
}

body #main #page #unten {
    clear: both;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail > img {
    margin: 0 0 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.thumbnail > img:hover {
    border-color: #000;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
