{% extends "layout.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fancybox/jquery.fancybox.min.css') }}" media="screen">
{% endblock %}
{% block inhalt %}
    <div class="inhalt" id="galerie">
        <h1>Galerie</h1>
        <div class="thumbnails">
            {% for pic, thumb in links %}
                <a class="thumbnail" data-fancybox="galerie" rel="dings" href="{{ pic }}">
                    <img src="{{ thumb }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/jquery.fancybox.min.js') }}"></script>
    <script>
      $(document).ready(function () {
        $("[data-fancybox]").fancybox();
      });
    </script>
{% endblock %}

