{% extends "layout.html" %}
{% block inhalt %}
    <div class="inhalt" id="impressum">
        <h1>Anbieterkennzeichnung</h1>
        <p>
            Inhaberin Gudrun Eichler<br /><br />
            Architekturb&uuml;ro Eichler<br />
            Ahornweg 4<br />
            15711 K&ouml;nigs Wusterhausen<br />
            <br />
            Telefon: 03375-25530<br />
            Fax: 03375-255314<br />
            E-Mail: mail@architektin-eichler.de<br /><br />
            verantwortlich f&uuml;r den Inhalt von architektin-eichler.de und architektineichler.de: Gudrun Eichler<br /><br />
            <strong>Eintrag in der Architektenliste der Brandenburgischen Architektenkammer:</strong><br />BA 1397 - 92 - 1 - A<br />
            <br />
            <strong>Zust&auml;ndige Kammer:</strong><br />Brandenburgische Architektenkammer, Kurf&uuml;rstenstra&szlig;e 52, 14467 Potsdam<br />
            <strong>Berufsbezeichnung:</strong><br />Architekt (verliehen in der Bundesrepublik Deutschland)<br />
            <br />
            <strong>Berufsrechtliche Regelungen:</strong><br />
            Es gelten die berufsrechtlichen Regelungen der Brandenburgischen Architektenkammer<br />
            https://www.ak-brandenburg.de/<br />
            <br />
            <strong>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:</strong><br />049/246/02894<br />
        </p>
    </div>
{% endblock %}
