{% extends "layout.html" %}
{% block inhalt %}
    <div class="inhalt" id="home">
        <h1 style="margin-bottom: 5px">Gudrun Eichler <small><small>(Dipl.-Ing.)</small></small></h1>
        <p style="font-size: 22px; margin-top: 5px">(ehemals Ludwig)</p>
        <p style="font-style: italic; margin-left: 20px">freischaffende Architektin seit 1992
        <h2 style="margin-top: 200px">Planung</h2>
        <p style="margin-left: 20px">Neubau</p>
        <p style="margin-left: 20px">An- und Umbau</p>
        <p style="margin-left: 20px">Sanierung</p>
    </div>
{% endblock %}
