{% extends "layout.html" %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaflet/leaflet.css') }}">
{% endblock %}
{% block inhalt %}
    <div class="inhalt" id="kontakt">
        <h1>Kontakt</h1>
        <address>
            Architekturb&uuml;ro Eichler<br />
            Ahornweg 4<br />
            15711 K&ouml;nigs Wusterhausen<br />
            <br />
            Telefon: <a href="tel:+49337525530">03375-25530</a><br />
            Fax: 03375-255314<br />
            E-Mail: <a href="mailto:mail@architektin-eichler.de">mail@architektin-eichler.de</a>
        </address>
        <div id="karte" style="width: 100%; height: 350px; margin-top: 20px"></div><br /><a class="nav" href="https://www.openstreetmap.org/?lat=52.29689&lon=13.65965&zoom=14&layers=B000FTFTT&mlat=52.29681&mlon=13.65868">Gr&ouml;&szlig;ere Karte anzeigen</a>
    </div>
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
    <script>
      $(document).ready(function(){
        var map = new L.Map('karte');
        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          osmAttrib = '(C) <a href="https://www.openstreetmap.org" target="_parent">OpenStreetMap</a> and contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_parent">CC-BY-SA</a>',
          osm = new L.TileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});
        var ahornweg = new L.LatLng(52.29681,13.65868);
        map.setView(ahornweg, 14).addLayer(osm);
        var markerLocation = new L.LatLng(52.29681,13.65868);
        var marker = new L.Marker(markerLocation);
        map.addLayer(marker);
        marker.bindPopup("Architekturb&uuml;ro Eichler");
      });
    </script>
{% endblock %}
