<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="title" content="Architekturbüro Eichler">
        <meta name="description" content="Freischaffende Architektin seit 1992, Planung, Neubau, An- und Umbau, Sanierung">
        <meta property="og:url" content="https://architektin-eichler.de">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Architekturbüro Eichler">
        <meta property="og:description" content="Freischaffende Architektin seit 1992, Planung, Neubau, An- und Umbau, Sanierung">
        <meta property="og:image" content="https://architektin-eichler.de{{ url_for('static', filename='logo.png') }}">
        <meta property="og:image:secure_url" content="https://architektin-eichler.de{{ url_for('static', filename='logo.png') }}">
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:alt" content="Außenaufnahme des Architekturbüros">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="architektin-eichler.de">
        <meta property="twitter:url" content="https://architektin-eichler.de">
        <meta name="twitter:title" content="Architekturbüro Eichler">
        <meta name="twitter:description" content="Freischaffende Architektin seit 1992, Planung, Neubau, An- und Umbau, Sanierung">
        <meta name="twitter:image" content="https://architektin-eichler.de{{ url_for('static', filename='logo.png') }}">
        <meta name="keywords" content="Beratung, Entwurf, Bauzeichnung mit Visualisierung, Bauantrag, Baubeschreibung, Berechnung Wohn- und Nutzflächen, Berechnung umbauter Raum, Kostenermittlung, Ausführungsplanung, Ausschreibung, Bauüberwachung, Bautechnische Nachweise, Bootsstegplanung">
        <meta name="robots" content="index, follow">
        <title>Architekturbüro Eichler</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% block css %}{% endblock %}
        {% set menus = ["heading", "kontakt", "galerie", "leistungen", "impressum"] %}
        {% for menu in menus %}
            <link rel="preload" as="image" media="(any-hover: hover)" href="{{ url_for('static', filename='images/%s_schatten.png' % menu) }}">
        {% endfor %}
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}" ></script>
        <script type="application/ld+json">
            {{ config['JSON_LD'] | tojson }}
        </script>
    </head>
    <body>
        <div id="main">
            <div id="header">
                <img class="heading" src="{{ url_for('static', filename='images/heading.png') }}" alt="Architekturbüro Eichler" usemap="#heading" />
                <map name="heading">
                    <area shape="rect" coords="30,21,517,80" href="{{ url_for('index') }}" alt="Architekturbüro Eichler" title="Architekturbüro Eichler">
                </map>
            </div>
            <div id="page">
                <div id="links">
                    <img class="galerie" src="{{ url_for('static', filename='images/galerie.png') }}" alt="Galerie" usemap="#galerie" />
                    <map name="galerie">
                        <area shape="rect" coords="58,156,117,291" href="{{ url_for('galerie') }}" alt="Galerie" title="Galerie">
                    </map>
                </div>
                <div id="mitte">
                    <img class="leistungen" src="{{ url_for('static', filename='images/leistungen.png') }}" alt="Leistungen" usemap="#leistungen" />
                    <map name="leistungen">
                        <area shape="rect" coords="326,64,508,123" href="{{ url_for('leistungen') }}" alt="Leistungen" title="Leistungen">
                    </map>
                    <div id="inhalt">
                        <div id="wrapper">{% block inhalt %}{% endblock %}</div>
                    </div>
                </div>
                <div id="rechts">
                    <img class="kontakt" src="{{ url_for('static', filename='images/kontakt.png') }}" alt="Kontakt" usemap="#kontakt" />
                    <map name="kontakt">
                        <area shape="rect" coords="19,299,79,432" href="{{ url_for('kontakt') }}" alt="Kontakt" title="Kontakt">
                    </map>
                </div>
                <div id="unten">
                    <img class="impressum" src="{{ url_for('static', filename='images/impressum.png') }}" alt="Impressum" usemap="#impressum" />
                    <map name="impressum">
                        <area shape="rect" coords="486,15,603,37" href="{{ url_for('impressum') }}" alt="Impressum" title="Impressum">
                    </map>
                </div>
            </div>
        </div>
        <a href="{{ url_for('vcard') }}">
            <div id="vcard">
                zu Adressbuch hinzufügen
            </div>
        </a>
        {% block js %}
        <script>
          var normal = {};
          var schatten = {};
          {% for menu in menus %}
            normal["{{ menu }}"] = "{{ url_for('static', filename='images/%s.png' % menu) }}";
            schatten["{{ menu }}"] = "{{ url_for('static', filename='images/%s_schatten.png' % menu) }}";
          {% endfor %}
          $(document).ready(function(){
            $("area").hover(
              function () {
                var name = $(this).parent().attr("name");
                $("."+name).attr("src", schatten[name]);
              },
              function () {
                var name = $(this).parent().attr("name");
                $("."+name).attr("src", normal[name]);
              }
            );
          });
        </script>
        {% endblock %}
    </body>
</html>
