{% extends "layout.html" %}
{% block inhalt %}
    <div class="inhalt" id="leistungen">
        <h1>Leistungen</h1>
        <ul>
            <li>Beratung</li>
            <li>Entwurf</li>
            <li>Bauzeichnung mit Visualisierung</li>
            <li>Bauantrag</li>
            <li>Baubeschreibung</li>
            <li>Berechnung Wohn- und Nutzflächen</li>
            <li>Berechnung umbauter Raum</li>
            <li>Kostenermittlung</li>
            <li>Ausführungsplanung</li>
            <li>Ausschreibung</li>
            <li>Bauüberwachung</li>
            <li>Bautechnische Nachweise (Statik-Wärmeschutz-Brandschutz-Schallschutz)</li>
            <li>Bootsstegplanung</li>
        </ul>
        <ul>
            <li>Bauberatung vor Ort im Auftrag von <a href="https://www.wohnen-im-eigentum.de/">wohnen im eigentum e.V.</a></li>
        </ul>
    </div>
{% endblock %}

